<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Site CSS -->
    
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_cp.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">

    <!-- Site JQuery -->

    <!-- Page  JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_cp.js" defer></script>

    <title>Control Panel</title>
</head>
    <body>
        <div class='div-root'>





            <div class="div-header">
                <img class='img-large' src="/static/images/header_background_medium.jpg" alt="Image Unavailable">
                <!-- <img class='img-small' src="/static/images/header_background_small_short.jpg" alt="Image Unavailable"> -->
                <div class='div-navsection'>
                    
                    <div class='div-form-logout'>
                        <form class='form-logout' action="/controlpanel/logout?_method=DELETE" method='POST'>
                            <input type="submit" value='Logout'>
                        </form>
                    </div>
        
                    <ul class='ul-navbar'>
                        <li>
                            <p class='p-podcasts'>Podcasts</p>
                        </li>
                        <li>
                            <p class='p-articles'>Articles</a>
                        </li>
                    </ul>
                    <div class='div-underline'>
                        <div class='div-underline-move'></div>
                    </div>
                    <div class='div-separator'></div>
                </div>
            </div>





            <div class='div-outter-wrapper'>
                
                



                <div class="div-wrapper-p">

                    <div class="div-body-p">
                        <div class='div-body-center-p'>
                            <div class='div-form-add-p'>
                                <form action="/controlpanel/podcast">
                                    <input type="submit" value='Add New Podcast'>
                                </form>
                            </div>
                            TEST
                            <% var i = 0 %>
                            <% p.podcasts.forEach(function(podcast){ %>
                            <div class='<%=i%>'>
                                <div class='div-box-p'>
                                    <div class='div-box-inner-wrapper-p'>
                                        <div class='div-img-p'>
                                            <img src="" alt="">
                                        </div>
                                        <div class='div-title-p'>
                                            <p>
                                                <%= podcast.title %>
                                            </p>
                                        </div>
                                        <div class='div-link-p'>
                                            <p>
                                                <%= podcast.link %>
                                            </p>
                                        </div>
                                        <div class='div-text-p'>
                                            <p>
                                                <%= podcast.text %>
                                            </p>
                                        </div>
                                        <div class='div-date-p'>
                                            <p>
                                                <%= podcast.date %>
                                            </p>
                                        </div>
                                        <div class='div-form-p'>
                                            <form action="/controlpanel/deletePodcast/<%=i%>">
                                                <input type="submit" value='Delete'>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% i = i + 1 %>
                            <% }) %>
                        </div>
                    </div>

                </div>

                
                
                
                
                <div class="div-wrapper-a">
                    <div class="div-body-a">
                        <div class='div-body-center-a'>
                            <div class='div-form-add-a'>
                                <form action="/controlpanel/article">
                                    <input type="submit" value='Add New Article'>
                                </form>
                            </div>
                            <% var j = 0 %>
                            <% a.articles.forEach(function(article){ %>
                            <div class='div-box-a'>
                                <div class='div-box-inner-wrapper-a'>
                                    <div class='div-img-a'>
                                        <img src="" alt="">
                                    </div>
                                    <div class='div-title-a'>
                                        <p>
                                            <%= article.title %>
                                        </p>
                                    </div>
                                    <div class='div-text-a'>
                                        <p>
                                            <%= article.text %>
                                        </p>
                                    </div>
                                    <div class='div-date-a'>
                                        <p>
                                            <%= article.date %>
                                        </p>
                                    </div>
                                    <div class='div-form-a'>
                                        <form action="/controlpanel/deleteArticle/<%=i%>">
                                            <input type="submit" value='Delete'>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% j = j + 1 %>
                            <% }) %>
                        </div>
                    </div>
                </div>


                


            </div>
        </div>
    </body>
</html>