<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Site CSS -->
    
    <!-- Page CSS -->
    <link rel="stylesheet" href="/static/styles/styles_home.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">

    <!-- Site JQuery -->
    
    
    <!-- Page  JQuery -->
    <script type="text/javascript" src="/static/scripts/scripts_home.js" defer></script>

    <title>Home</title>
</head>
    <body>
        <div class='div-root'>





            <div class="div-header">
                <img class='img-header-large' src="/static/images/header_background_medium.jpg" alt="Image Unavailable">
                <!-- <img class='img-small' src="/static/images/header_background_small_short.jpg" alt="Image Unavailable"> -->

                <div class='div-navsection'>

                    <div class='div-ul-social'>
                        <ul class='ul-social'>
                            <li>
                                <a href="https://www.facebook.com/roger.g.edwards">
                                    <img class='img-large' src="/static/images/fb_logo.png" alt="Image Unavailable">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/rogeredwards23">
                                    <img class='img-large' src="/static/images/tw_logo.png" alt="Image Unavailable">
                                </a>
                            </li>
                            <!-- <li>
                                <a href="">
                                    <img class='img-large' src="/static/images/li_logo.png" alt="Image Unavailable">
                                </a>
                            </li> -->
                        </ul>
                    </div>

                    <ul class='ul-navbar'>
                        <li>
                            <p class='p-home'>Home</p>
                        </li>
                        <li>
                            <p class='p-podcasts'>Podcasts</p>
                        </li>
                        <li>
                            <p class='p-articles'>Articles</a>
                        </li>
                    </ul>
                    <div class='div-underline'>
                        <div class='div-underline-move'></div>
                    </div>
                    <div class='div-separator'>
                        <img class=img-selector-p src="/static/images/selector.png" alt="">
                        <img class=img-selector-a src="/static/images/selector.png" alt="">
                    </div>
                </div>
            </div>





            <div class='div-outter-wrapper'>






                <div class="div-wrapper-h">
                    <div class="div-body-h">
                        <div class='div-body-left-h'></div>
                        <div class='div-body-center-h'>
                            <div class='div-body-center-card-h'>

                            </div>
                        </div>
                        <div class='div-body-right-h'></div>
                    </div>
                </div>



                

                <div class="div-wrapper-p">
                    <div class='div-sidebar-p'>
                        <div class='div-header-sidebar'>
                            <p>
                                Podcasts
                            </p>
                        </div>
                        <ul class='ul-titles'>
                        <% var i = 0 %>
                        <% p.podcasts.forEach(function(podcast){ %>
                        <li class='<%=i%>'>
                            <p>
                                <%= podcast.title %>
                            </p>
                        </li>
                        <% i++ %>
                        <% }) %>
                        </ul>
                    </div>
                    <div class="div-body-p">
                        
                        <div class='div-body-left-p'></div>
                        <div class='div-body-center-p'>
                            <% p.podcasts.forEach(function(podcast){ %>
                            <div class='div-box-p'>
                                <div class='div-box-inner-wrapper-p'>
                                    <div class='div-img-p'>
                                        <img src="" alt="">
                                    </div>
                                    <div class='div-title-p'>
                                        <p>
                                            <%= podcast.title %>
                                        </p>
                                    </div>
                                    <div class='div-text-p'>
                                        <p>
                                            <%= podcast.text %>
                                        </p>
                                    </div>
                                    <div class='div-date-p'>
                                        <p>
                                            <%= podcast.date %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class='div-body-right-p'></div>
                    </div>
                </div>





                <div class="div-wrapper-a">
                    <div class='div-sidebar-a'>
                        <div class='div-header-sidebar'>
                            <p>
                                Articles
                            </p>
                        </div>
                        <ul class='ul-titles'>
                        <% a.articles.forEach(function(article){ %>
                        <li class='li-title'>
                            <p>
                                <%= article.title %>
                            </p>
                        </li>
                        <% }) %>
                        </ul>
                    </div>
                    <div class="div-body-a">
                        <div class='div-body-left-a'></div>
                        <div class='div-body-center-a'>
                            <% a.articles.forEach(function(article){ %>
                            <div class='div-box-a'>
                                <div class='div-box-inner-wrapper-a'>
                                    <div class='div-img-a'>
                                        <img src="" alt="">
                                    </div>
                                    <div class='div-title-a'>
                                        <p>
                                            <%= article.title %>
                                        </p>
                                    </div>
                                    <div class='div-text-a'>
                                        <p>
                                            <%= article.text %>
                                        </p>
                                    </div>
                                    <div class='div-date-a'>
                                        <p>
                                            <%= article.date %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class='div-body-right-a'></div>
                    </div>
                </div>


                


            </div>








            <div class='div-footer'>
        
            </div>





        </div>
    </body>
</html>